<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- 本节定义 My.Application.Log 的登录配置-->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- 取消注释以下一节可写入应用程序事件日志-->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- 取消注释以下一节并用应用程序名替换 APPLICATION_NAME 可写入应用程序事件日志-->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <appSettings>
    <add key="APP_NAME" value="XNG.VMI.LENOVO_CD_BS"/>
    <add key="ENV" value="Live"/>
    <add key="SUBINV_CODE" value="XNG.VMI.LENOVO_CD_BS"/>
    <add key="Environment" value="(LENOVO_CD_BS.Live)"/>
    <add key="HostName" value="202.96.27.21"/>
    <add key="UserName" value="lenovovmi_bs_xyn"/>
    <add key="Password" value="4rf%TG6yh"/>
    <add key="GEN_TIME" value="02:45"/>

    <add key="KEY.FTP.DOWNLOAD" value="XNG.VMI.LENOVO_CD_BS.FTP.DOWNLOAD"/>
    <add key="KEY.FTP.HOST" value="XNG.VMI.LENOVO_CD_BS.FTP.HOST"/>
    <add key="KEY.FTP.UPLOAD" value="XNG.VMI.LENOVO_CD_BS.FTP.UPLOAD"/>
    <add key="KEY.LOCAL.DOWNLOAD" value="XNG.VMI.LENOVO_CD_BS.LOCAL.DOWNLOAD"/>
    <add key="KEY.LOCAL.UPLOAD" value="XNG.VMI.LENOVO_CD_BS.LOCAL.UPLOAD"/>
    <add key="KEY.PASS" value="XNG.VMI.LENOVO_CD_BS.PASS"/>
    <add key="KEY.USER" value="XNG.VMI.LENOVO_CD_BS.USER"/>
    <!--是否加密-->
    <add key="IsEncryptConnString" value="false"/>
    <!--密钥24位-->
    <add key="Key" value="chechongyuan@xinning.com"/>
    <!--是否自动加密,IsEncryptConnString设置为false时,AutoEncrypetConnString为true时自动加密。并设置IsEncryptConnString=true-->
    <add key="AutoEncrypetConnString" value="false"/>
    <!--默认数据连接-->
    <add key="DefaultDataBase" value="DataBase"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <connectionStrings>

    <add name="CDXN" connectionString="Data Source=192.168.0.9;Initial Catalog=lenovo_cd_hub;Persist Security Info=True;User ID=casens;Password=pk0100;Max Pool Size=10000;Min Pool Size=0" providerName="System.Data.SqlClient"/>
    <add name="CDSL" connectionString="Data Source=192.168.0.9;Initial Catalog=lenovo_cd_WL;Persist Security Info=True;User ID=casens;Password=pk0100;Max Pool Size=10000;Min Pool Size=0" providerName="System.Data.SqlClient"/>
    <add name="DataBase" connectionString="Data Source=192.168.0.9;Initial Catalog=ECC;Persist Security Info=True;User ID=casens;Password=pk0100;Max Pool Size=10000;Min Pool Size=0" providerName="System.Data.SqlClient"/>
    <add name="connMail" connectionString="Data Source=192.168.0.9;Initial Catalog=xnassist;User ID=xn_erp_oa;Password=bpmkm808;Max Pool Size=10000;Min Pool Size=0" providerName="System.Data.SqlClient"/>
    <add name="XNSYS" connectionString="Data Source=192.168.0.9;Initial Catalog=XNSYS;User ID=casens;Password=pk0100;Max Pool Size=10000;Min Pool Size=0" providerName="System.Data.SqlClient"/>
   
    <!--
    <add name="CDXN" connectionString="Data Source=192.168.0.109;Initial Catalog=lenovo_cd_hub;Persist Security Info=True;User ID=xntest;Password=xntest;Max Pool Size=10000;Min Pool Size=0" providerName="System.Data.SqlClient"/>
    <add name="CDSL" connectionString="Data Source=192.168.0.109;Initial Catalog=lenovo_cd_WL;Persist Security Info=True;User ID=xntest;Password=xntest;Max Pool Size=10000;Min Pool Size=0" providerName="System.Data.SqlClient"/>
    <add name="DataBase" connectionString="Data Source=192.168.0.109;Initial Catalog=ECC;Persist Security Info=True;User ID=xntest;Password=xntest;Max Pool Size=10000;Min Pool Size=0" providerName="System.Data.SqlClient"/>
    <add name="connMail" connectionString="Data Source=192.168.0.9;Initial Catalog=xnassist;User ID=xn_erp_oa;Password=bpmkm808;Max Pool Size=10000;Min Pool Size=0" providerName="System.Data.SqlClient"/>
    <add name="XNSYS" connectionString="Data Source=192.168.0.109;Initial Catalog=XNSYS;User ID=xntest;Password=xntest;Max Pool Size=10000;Min Pool Size=0" providerName="System.Data.SqlClient"/>
 -->
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="office" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Vbe.Interop" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Office.Interop.Excel" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
